<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRemesa" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2835/Remesa.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRemesa" contract="RemesaWS.IRemesa"
                name="BasicHttpBinding_IRemesa" />
        </client>
    </system.serviceModel>
</configuration>